/* link das fontes usadas */
@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');

/* para resetar a pagina */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

/* cores usadas no site */
:root {
    --palette-color-1: #8a2be2;
    --palette-color-2: #eee0fe;
    --palette-color-3: #490383;
    --palette-color-3: #490383;
    --palette-color-4: #21033a;
}

body {
    background-color: #1c1c2d;
    color: #ffffff;
    font-family: "Inter", sans-serif;
    text-align: justify;
    line-height: 1.4;
}

/* Menu */
header {
    width: 90vw;
}

a {
    text-decoration: none;
    color: var(--palette-color-2);
    cursor: pointer;
}

nav ul {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

nav li {
    list-style: none;
}

nav li a {
    background-color: var(--palette-color-3);
    margin: 0 2rem 0 2rem;
    padding: 1rem;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
    list-style: none;
    width: auto;
}

nav a:hover {
    color: white;
    background-color: var(--palette-color-1);
    transition: 0.5s;
}

/* Menu mobile */
.mobile-menu div {
    width: 32px;
    height: 2px;
    background: #ffffff;
    margin: 8px;
    transition: 0.3s;
}

.mobile-menu {
    cursor: pointer;
    display: none;
}

/* Section */
.container {
    display: flex;
    flex-direction: column;
    height: 90vh;
}

section {
    flex: 1;
}

#index {
    margin: 0 500px;
    align-items: center;
    display: flex;
    justify-content: center;
    gap: 1rem;
    text-align: center;
}

#index img {
    width: 400px;
    height: 400px;
}

#sobremim {
    margin: 5rem 10rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
    width: auto;
}

#formacao {
    margin: 5rem;
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

#contato {
    align-items: center;
    display: flex;
    justify-content: center;
    flex-direction: column;
    gap: 1rem;
}

h1 {
    font-size: 2rem;
    font-family: "Playfair Display", serif;
    text-align: center;
}

h2 {
    font-size: 1.2rem;
    text-align: center;
}

hr {
    width: 50vw;
    margin: 1rem auto;
}

.resumo {
    text-align: justify;
}

.destaque {
    color: var(--palette-color-1);
    font-weight: 600;
}

#formacao ul,
li {
    padding: 1rem;
    text-align: justify;
}

label {
    font-family: "Playfair Display", serif;
}

input,
textarea {
    border: 0.2rem solid var(--palette-color-1);
    height: 2rem;
    width: 30rem;
    border-radius: 0.5rem;
    padding: 0.5rem;
}

textarea {
    height: 5rem;
}

.btn-send {
    height: 3rem;
    width: 5rem;
    cursor: pointer;
    background-color: var(--palette-color-1);
    font-weight: 700;
    transition: 0.5s;
}

.btn-send:hover {
    background-color: var(--palette-color-3);
    color: var(--palette-color-2);
    border: none;
}

/* Portfolio */

#portfolio {
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    gap: 2rem;
    justify-content: center;
    align-items: center;
    margin: 0 auto;
    padding: 2rem 15rem;
}

.site-image {
    width: 500px;
    height: 300px;
    margin: 1rem;
    border-radius: 1rem;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    transition: 0.5s;
}

.site-image:hover {
    box-shadow: 0 0 20px var(--palette-color-1);
    transition: 1s;
    background-color: var(--palette-color-1);
    width: 500px;
}

#portfolio img {
    width: 400px;
    border-radius: 1rem;
    transition: width 1s ease;
}

#portfolio img:hover {
    width: 500px;
}

.btn-container i {
    font-size: 1.8rem;
    padding: 0.3rem;
    margin: 0.5rem 1.5rem;
    color: var(--palette-color-2);
    border-radius: 1rem;
}

.btn-container i:hover {
    background-color: var(--palette-color-2);
    color: var(--palette-color-1);
    transition: 0.5s;
    border-radius: 0.2rem;
}

#portfolio .fa-square-github {
    font-size: 2rem;
}

/* Animação */

.bolha {
    position: fixed;
    width: 60px;
    height: 60px;
    background: radial-gradient(circle, var(--palette-color-1), var(--palette-color-3));
    border-radius: 50%;
    box-shadow: 0 0 20px var(--palette-color-1);
    opacity: 0.7;
    z-index: -1;
    pointer-events: none;
    animation: pulsar 2.5s ease-in-out infinite, flutuar 6s ease-in-out infinite;
}

.bolha1 {
    bottom: 50px;
    right: 50px;
}

.bolha2 {
    top: 100px;
    left: 80px;
    width: 40px;
    height: 40px;
    animation-delay: 1s;
}

.bolha3 {
    top: 300px;
    left: 150px;
    width: 80px;
    height: 80px;
    animation-delay: 1s;
}

.bolha4 {
    top: 500px;
    left: 50px;
    width: 80px;
    height: 80px;
    animation-delay: 2s;
}

.bolha5 {
    top: 150px;
    right: 80px;
    width: 40px;
    height: 40px;
    animation-delay: 1s;
}

@keyframes pulsar {

    0%,
    100% {
        transform: scale(1);
        box-shadow: 0 0 20px var(--palette-color-1);
    }

    50% {
        transform: scale(1.2);
        box-shadow: 0 0 35px var(--palette-color-1);
    }
}

@keyframes flutuar {

    0%,
    100% {
        transform: translateY(0);
    }

    50% {
        transform: translateY(-50px);
    }
}

/* fim da animação */

/* Footer */
footer {
    display: flex;
    justify-content: center;
    padding: 1rem;
}

footer a:hover {
    transition: 0.5s;
    color: var(--palette-color-1);
}

footer a {
    margin: 0 2rem 0 2rem;
    padding: 1rem;
    text-align: center;
    align-content: center;
    border-radius: 1rem;
}

footer i {
    font-size: 2rem;
}

/* Responsividade */

@media screen and (max-width: 1080px) {

    header{
        width: auto;
    }
    nav li a {
        margin: 0;
    }

    #portfolio {
        grid-template-columns: 1fr;
        padding: 2rem;
        margin: 0;
    }

    .site-image,
    #portfolio img {
        width: 90%;
        max-width: 500px;
        height: auto;
        margin: 0 auto;
    }

    #index {
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        margin: 2rem auto;
        gap: 1rem;
        text-align: center;
        max-width: 90%;
    }

    #index img {
        width: 200px;
        height: auto;
        object-fit: cover;
    }
}

@media screen and (max-width: 780px) {

    /* Menu mobile */
    body {
        overflow-x: hidden;
    }

    nav ul {
        display: block;
        margin: 0;
    }

    nav li a {
        margin: 0;
        background: none;
    }

    nav a:hover {
        color: white;
        transition: 0.2s;
    }


    nav li:hover {
        width: inherit;
        background-color: var(--palette-color-1);
        transition: 0.5s;
    }

    .nav-list {
        position: absolute;
        left: 0;
        width: 50vw;
        height: 100%;
        background: var(--palette-color-4);
        flex-direction: column;
        align-items: center;
        justify-content: start;
        transform: translateX(-100%);
        transition: transform 0.3s ease-in;
        height: 120vh;
        overflow-y: auto;
    }

    .nav-list li {
        margin-left: 0;
        opacity: 0;
    }

    .nav-list li a {
        width: auto;
    }

    .nav-list.active {
        transform: translateX(0);
    }

    .mobile-menu {
        display: block;
    }

    .mobile-menu.active .line1 {
        transform: rotate(-45deg) translate(-8px, 8px);
    }

    .mobile-menu.active .line2 {
        opacity: 0;
    }

    .mobile-menu.active .line3 {
        transform: rotate(45deg) translate(-5px, -7px);

    }

    /* Animar opacidade dos links */
    @keyframes navLinkFade {
        from {
            opacity: 0;
            transform: translateX(50px);
        }

        to {
            opacity: 1;
            transform: translateX(0);

        }
    }

    /* Fim do Menu mobile */

    #sobremim,
    #formacao {
        margin: 2rem;
    }

    input,
    textarea {
        width: 90%;
    }
}

@media screen and (max-width: 540px) {
    nav {
        flex-direction: column;
        align-items: center;
    }

    nav a {
        width: 90%;
        text-align: center;
        font-size: 0.9rem;
        padding: 0.8rem;
        border-radius: 0.8rem;
    }

    .site-image,
    #portfolio img {
        width: 100%;
        max-width: 400px;
        height: auto;
    }

    .site-image:hover,
    #portfolio img:hover {
        transform: scale(1.05);
    }

    .site-image,
    #portfolio img {
        transition: transform 0.3s ease;
    }

    #index {
        margin: 1rem;
        flex-direction: column;
    }

    #index img {
        width: 90%;
        height: auto;
    }

    footer a {
        padding: 0.7rem;
        margin: 0.3rem;
    }
}

@media screen and (max-width: 380px) {
    nav a {
        font-size: 0.85rem;
        padding: 0.6rem 0.8rem;
    }

    .site-image,
    #portfolio img {
        max-width: 270px;
    }

    h1 {
        font-size: 1.4rem;
    }

    h2 {
        font-size: 1rem;
    }

    .bolha {
        display: none;
    }
}